<app-topnav></app-topnav>
<div class="container-fluid login-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8" style="margin-top: 10rem;">
                <h3 class="text-center">Welcome! {{userRole}}</h3>
                <mat-card>
                    <mat-card-title class="text-center" style="font-size: 18px;">Create Consulting Time Slots</mat-card-title>
                    <mat-card-content>
                        <form #employeeaddForm="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text"
                                    placeholder="Datepicker"
                                    class="form-control"
                                    bsDatepicker>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Email</mat-label>
                                            <input type="text" matInput placeholder="Password" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                                #empEmail="ngModel" name="empEmail" [(ngModel)]="employeeData.empEmail">
                                        </mat-form-field>
                                    </p>

                                    <p>
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Age</mat-label>
                                            <input type="text" matInput placeholder="Password" minlength="2" maxlength="2" required oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                #empAge="ngModel" name="empAge" [(ngModel)]="employeeData.empAge">
                                        </mat-form-field>
                                    </p>

                                    <p>
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Gender</mat-label>
                                            <mat-select  required
                                            #empGender="ngModel" name="empGender" [(ngModel)]="employeeData.empGender">
                                            <mat-option value="Female">Female</mat-option>
                                            <mat-option value="Male">Male</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                    </p>
                                </div>
                            </div>
                            <p class="text-center">
                                <button mat-raised-button color="primary" (click)="saveEmployee()">Register</button>
                            </p>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-2">
                <p style="float: right;margin-top: 5rem;">
                    <button mat-raised-button routerLink="/attendance">Mark Attendance</button>
                </p>
            </div>
        </div>
    </div>
</div>